body { 
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.breakerButtonDivHorz {
    width: 1000;
    height: 1000;
    display: block;
}

.breakerButtonDivVert {
    display: inline-block;
}

.breakerButtonDivHorz .breakerButtonDivVert {
    border: none;
    background: none;
}

.breakerButton {
    height: 60px;
    width: 60px;
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block
}

.breakerLabelVert {
    display: inline-block
}

.breakerLabelHorz {
    margin-top: 0px;
    margin-bottom: 40px;
    display: block
}

.breakerImage {
    margin: 0px;
    display: inline-block;
}

.load {
    margin-bottom: 40px;
    margin-right: 10px;
    float: right;
}

.clear {
    clear: both;
}

#breaker_display {
    margin-top: 40px;
    float:left;
}

#bus_display {
    float:left;
}

#load_display {
    float:left;
}

#plot_display {
    clear: both;
}



/* .horizontal { */
    /* -webkit-transform: rotate(90deg);    /* chrome, safari, opera */
    /* -moz-transform: rotate(90deg);       /* firefox */
    /* -ms-transform: rotate(90deg);        /* internet explorer */
    /* -o-transform: rotate(90deg);         /* also opera */
    /* transform: rotate(90deg);            /* standard syntax */
/* } */